*, *::before, *::after {
    box-sizing: border-box;
  }
/* font-family: 'Poppins', sans-serif;
font-family: 'Lato', sans-serif; */

body {
    margin-top: 10px;
    background-color: #F8F9FB;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 800px;
}
.price-column {
    position: relative;
    background-color: white;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    padding: 2rem;  
    flex-grow: 1;  
    flex-basis: 0;
    min-width: 260px;
    border-radius: 8px;
}

.price-column.popular {
    background-color: #641BFF;
    color: white;
    box-shadow: 0 7px 30px rgba(52, 31, 135, 0.3);
    margin-top: -1rem;
    padding-top: 3rem;
    margin-bottom: -1rem;
    /* padding-bottom: 3.5rem; */
}

.price-column:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.price-column:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.price-header {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.price {
    font-size: 3.5rem;
}

.dollar-sign {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-right: .25rem;
}

.per-month {
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
}

.plan-name {
    text-transform: uppercase;
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.price-column.popular .divider {
    background-color: rgba(255, 255, 255, 0.2);
} 

li img {
    height: 1.1rem;
    width: 1.1rem;
    margin-right: .5rem;
}

.features li {
    display: inline-block;
    align-items: center;
    margin: 0.5rem;
}
.inactive {
    color: #999;
    text-decoration-line: line-through;
}

.most-popular {
    text-transform: uppercase;
    position: absolute;
    top: .8rem;
    left: .5rem;
    right: .5rem;
    text-align: center;

}

.btn {
    border: none;
    background-color: #641BFF;
    color: white;
    width: 100%;
    padding: .75rem 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 2rem;
    transition: 100ms;
    transform: scale(1);
    text-transform: uppercase;
}

.price-column.popular .btn {
    background-color: white;
    color: #641BFF;
} 

.btn:hover , .btn:focus{
    transform: scale(1.1);
}

@media (max-width: 768px) {

    .features li {
        display: block;
    }

    .price-column {
        margin: 1rem;
    }

    .price-column:first-child {
        margin-top: 0.5rem;
        border-radius: 8px;
    }
    .price-column:last-child {
        border-radius: 8px;
    }
    .price-column.popular {
        margin-top: 0.5rem;
        padding-top: 2.5rem;
        margin-bottom: 1rem;
        padding-bottom: 0rem;
    }
}

@media (max-width: 576px) {
    .price-column {
        margin: 2rem;
    }

    .price-column.popular {
        padding-bottom: 2rem;
    }
    
}